.attractions-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}

.attraction-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
}

.attraction-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
