.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 4px solid #4caf50; /* Borde inferior en verde */
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.flag-colors {
  display: flex;
}

.color-box {
  width: 30px;
  height: 30px;
}

.color-box.yellow {
  background-color: #ffd700; /* Amarillo */
}

.color-box.blue {
  background-color: #0033a0; /* Azul */
}

.color-box.red {
  background-color: #c8102e; /* Rojo */
}
